@import 'tailwindcss';

@theme {
  --font-sans: Switzer, system-ui, sans-serif;

  --radius-4xl: 2rem;

  --color-blue: #1C5499;
  --color-dark-blue: #072E5B;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}
