@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-gidole);
  --font-serif: var(--font-league-spartan);

  --font-league-spartan: "League Spartan", sans-serif;
  --font-gidole: "Gidole", sans-serif;

  --radius-4xl: 2rem;

  --color-blue: #1C5499;
  --color-dark-blue: #072E5B;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}
